.navbar-1{
    margin-inline: 55px;
    height: 60px;
    width: auto;
    display: flex;
    gap: 7px;
}

.navbar-1 img{
    margin-top: 10px;
    height: 28px;
    width: 28px;
}

.foodpanda img{
    margin-top: 15px;
    height: 22px;
    width: 101px;
    color: aqua;
}