*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


.pre-nav{
    min-height: 36px;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    background-color: #F2F1EE;
}

.pre-navbar-1 a{
    scrollbar-width: thin;
    text-decoration: none;
    color: rgb(54, 54, 54);
    font-family: 'AkkuratPro-Regular';
    font-size: 10px; 
}

.pre-navbar-1{
    display: flex;
    gap: 15px;
}

.pre-navbar-2 span{
    font-size: 10px;
    font-weight: 400;
    color: #000000;
    font-family: ''Alata', sans-serif';
}

.pre-navbar-3 p{
    color: rgb(54, 54, 54);
    font-family: 'AkkuratPro-Regular';
    font-size: 14px;
}

.navbar{
    height: 100%;
}

.navbar-up{
    display: flex;
    justify-content: space-between;
    background-color: black; 

}

.navbar-up-left{
    display: flex;
    gap: 20px;
    padding: 20px 0px 0px 20px;

}

.navbar-up-left  p{
    font-family: Arial, Helvetica, sans-serif;
    color: white ;

}

.navbar-up-left img{
    height: 15px;
    width: 20px;
}

.navbar-up-right{
    display: flex;
    gap: 15px;
    padding: 20px 20px 0px 0px;
    color: white;

}

.navbar-up span{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

.navbar-up-right p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.navbar-down{
    text-align: center;
    padding-top: 20px;
    display: flex;
    gap: 17px;
    justify-content: center;
    background-color: black; 
    padding-bottom: 20px;

}

.navbar-down a{
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 10px;
}


.navbar-down  a:hover{
    color: orange;
    border-bottom: 2px solid white; 
}